<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Bridge Resilience Application</title>
</head>
<body style="background-color: #efebe9;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #13154a;">
        <a class="navbar-brand text-white" href="#"><h4><b>Bridge Resilience</b></h4></a>
   <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" th:href="@{/home.html}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" th:href="@{/listofbridge}">Reports <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/about.html}">About</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link text-white" th:href="@{/contact.html}">Contact Us</a>
            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0"  th:action="@{/reports}" th:object="${BRI}">
            <input id="tags" class="form-control mr-sm-2 typeahead" th:field="*{bridge_name}" type="search" placeholder="Search Bridge Name" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!--<div class="mx-2">
            <button class="btn btn-danger" data-toggle="modal" data-target="#LoginModal">Login</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#SingUpModal">SingUp</button>
        </div>-->
    </div>
    </nav>
    <div class="card" style="max-width: auto;background-color:#774E51;">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="images/svnitlogo.png" class="rounded card-img">
            </div>
            <div class="col-md-10 text-center align-self-center">
                <div class="card-body">
                    <h3 class="card-title text-primary text-center">Sardar Vallabhbhai National Institude Of Techanical Department Of Civil Engineering</h3>
                        <h3 class="card-title text-primary text-center">P.G Section in Construction Technology and Management</h3>
                    <p class="card-text text-center text-success"><b>Database Of Bridge Resilience</b></p>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs nav-light" style="background-color: #212121;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">River bridge</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Savijibhai Korat Bridge'})}">Savijibhai Korat Bridge</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Pandit Dindayal Upadhyay Cable Stay Bridge'})}">Pandit Dindayal Upadhyay Cable Stay Bridge</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Swami Dayand Saraswati Bridge'})}">Swami Dayand Saraswati Bridge</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Pandit Shyamji Krishna Varma Bridge (Old)'})}">Pandit Shyamji Krishna Varma Bridge (Old)</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Pandit Shyamji Krishna Varma Bridge (New)'})}">Pandit Shyamji Krishna Varma Bridge (New)</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Chandra Shaker Azad Bridge'})}">Chandra Shaker Azad Bridge</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Swami Vivekanand Bridge (Makaipool)'})}">Swami Vivekanand Bridge (Makaipool)</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Sardar Patel Bridge (Old)'})}">Sardar Patel Bridge (Old)</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Dr Shyama Prasad Murkhaji Bridge'})}">Dr Shyama Prasad Murkhaji Bridge</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Nehru Bridge'})}">Nehru Bridge</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Sardar Patel River Bridge Joining Athawa'})}">Sardar Patel River Bridge Joining Athawa</a>
                <a class="dropdown-item" href="/BridgeDetailsAndBRI.html" th:href="@{/BridgeDetailsAndBRI/{name}(name=${'Adajan On River Tapi'})}">Adajan On River Tapi</a>
            </div>
        </li>
        <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Fly Over bridge</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Fly over 1</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Fly over 2</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Fly over 3</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Arch bridge</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Arch 1</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Arch 2</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Arch 3</a>
            </div>
        </li>-->
    </ul>
    <div class="card">
        <div class="card-header text-center bg-info text-warning">
            <h3>Introduction</h3>
        </div>
        <div class="card-body" style="background-color: #e3dedc;">
            <blockquote class="blockquote mb-0">
                <p style="text-align: center;text-align: justify;">Bridges are crucial infrastructures in any road and rail network.
                    They minimize travel costs by providing the amenities across inaccessible terrain, areas of high altitude, and above waterbodies.
                    Therefore, the dysfunction or failure of a bridge significantly impacts commerce and services and most important risks the loss of
                    human life (Venkittaraman and Banerjee 2014). These negative
                    consequences occur mainly after an acute shock such as earthquakes, floods, cyclones, and tsunamis. Although bridges rarely
                    fail when they do the results are catastrophic. Therefore, vulnerable, dysfunctional, and failed bridges decrease the efficiency of a
                    transportation network.</p>
                <p style="text-align: center;text-align: justify;">Previous research (Singh et al. 2002; Sheth et al. 2006; GFDRR
                    2010; Kumar et al. 2013; Kala 2014; UNDP 2018) cumulatively reported 3,709 bridges that were damaged due to different acute
                    shocks such as earthquakes, tsunami, and floods occurring from
                    2001 to 2018 in various parts of India. Similarly, Wardhana and
                    Hadipriono (2003) analyzed bridge failure incidents in the US between 1989 and 2000, concluding that almost 53% of bridge failures resulted from floods, and the effects of these such as scour,
                    debris, and drift. All the previously mentioned examples have
                    one thing in common, the bridges are all deficient in resilience.</p>
                <p style="text-align: center;text-align: justify;">Resilience, if properly understood, measured, and fortified can
                    mitigate the negative effects of acute shocks. In recent years,
                    India has focused on constructing resilient infrastructure and cities.
                    Four Indian cities Chennai, Jaipur, Pune, and Surat, are members of
                    the 100-Resilient Cities (2013) (100-RC), which are pioneered by
                    the Rockefeller Foundation. In addition, the government of India
                    has started a nongovernmental organization (NGO) named Resilient India (2018). Resilient India works in the field of disaster
                    risk reduction and crime prevention. In addition, Gupta (2007),
                    Shaw et al. (2010), and Sharma and Singh (2015) worked in the
                    area of urban and community resilience, which is suffering in the
                    face of uncertainty and climate change. However, the resilience assessment of bridges across the globe (including India) has only
                    been explored a little (Banerjee et al. 2019).</p>
                <p style="text-align: center;text-align: justify;">Considering the importance of resilience in infrastructure management, this study aims to develop a comprehensive analytical approach for assessing the resilience of bridges accounting for the
                    impact of floods only. To gain a better understanding of bridge resilience and approach its assessment, the following sections review
                    the literature and outline gaps in the existing research. Then, the
                    sections include the objectives of this study, research methodology,
                    validation of this study, and the conclusions.</p>
            </blockquote>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript" rel="stylesheet">
	$(document).ready(function(){
		var name = ["Afghanistan", "Albania", "Bahamas", "Bahrain", "Cambodia", "Cameroon", "Denmark", "Djibouti", "East Timor", "Ecuador", "Falkland Islands (Malvinas)", "Faroe Islands", "Gabon", "Gambia", "Haiti", "Heard and Mc Donald Islands", "Iceland", "India", "Jamaica", "Japan", "Kenya", "Kiribati", "Lao People's Democratic Republic", "Latvia", "Macau", "Macedonia", "Namibia", "Nauru", "Oman", "Pakistan", "Palau", "Qatar", "Reunion", "Romania", "Saint Kitts and Nevis", "Saint Lucia", "Taiwan", "Tajikistan", "Uganda", "Ukraine", "Vanuatu", "Vatican City State", "Wallis and Futuna Islands", "Western Sahara", "Yemen", "Yugoslavia", "Zaire", "Zambia"];
        $( "#tags" ).autocomplete({
      source: name
    });
	});
	</script>
</body>
</html>