<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body style="background-color: #efebe9;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9e9e9e;">
        <a class="navbar-brand" href="#">Bridge Resilience</a>
   <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home.html}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about.html}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contact.html}">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!--<div class="mx-2">
            <button class="btn btn-danger" data-toggle="modal" data-target="#LoginModal">Login</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#SingUpModal">SingUp</button>
        </div>-->
    </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://source.unsplash.com/random/2100x300/?Bridge" class="d-sm-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-primary">Welcome to Bridge Resilience</h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://source.unsplash.com/random/2100x300/?Bridge" class="c-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-primary">Welcome to Bridge Resilience</h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://source.unsplash.com/random/2100x300/?Bridge" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-primary">Welcome to Bridge Resilience</h2>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    <ul class="nav nav-tabs nav-light" style="background-color: #212121;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">River bridge</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">River 1</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">River 2</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">River 3</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Fly Over bridge</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Fly over 1</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Fly over 2</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Fly over 3</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Arch bridge</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Arch 1</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Arch 2</a>
                <a class="dropdown-item" th:href="@{/BridgeDetailsAndBRI.html}">Arch 3</a>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Bridge Vulnerability</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Bridge vulnerability represents the bridge’s physical
                        condition exposed to future acute shock. The physical condition
                        is the relative measure of a bridge’s structural health and condition, and it represents the level of service (LOS) of a bridge toward the acute shocks. Bridge vulnerability can be evaluated by
                        real time data generation approaches using field instruments and
                        remote sensing techniques (Nassif et al. 2003, 2017). To assess
                        the bridge’s performance, finite element models can be developed and calibrated using collected real time data for generating
                        further simulation data. However, this methodology requires exorbitant computational efforts and technical expertise. However,
                        wireless sensing techniques using various field instruments such
                        as accelerometers, strain gauges, thermocouples, dynamic strain
                        transducers, displacement sensors, vibrometers, and tiltmeters
                        provide inputs to analyze the current health condition of structures (Bhowmik et al. 2019). By using these inputs, various
                        mathematical theories (Kalman filter method, Eigen perturbation
                        method, and Eigen decomposition method.) can be applied to detect real time damage detection in civil structures (Hsieh et al.
                        2006; Roy et al. 2012; Noel et al. 2017; Bhowmik et al. 2019,
                        2020). These techniques require low computational efforts, and
                        they are efficient and user-friendly. However, due to budget
                        and time constraints, this study assessed bridge vulnerability
                        based on the subjective judgments of bridge owners and experts.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Prediction of acute shock severity</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Prediction of acute shock severity represents the
                        probable intensity of future acute shocks, as predicted by the
                        bridge owners. The occurrence of acute shock intensity affects
                        the LOS of bridges. Dong and Frangopol (2015) state that the
                        probability of incremental damage to the vulnerable structure
                        depends on these verities of acute shock. Basic judgment and review of historical cases are required to predict the severity of future acute shock in a particular region. Various organizations
                        attempted to define severity and its level based on the nature
                        and intensity of acute shocks.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Average daily traffic</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Average Daily Traffic (ADT) is the assessment of the
                        traffic flow of a particular bridge. ADT describes the social
                        losses (Andric and Lu 2017) and shows the importance of a
                        bridge in the transportation network (Minaie and Moon 2017).
                        Moreover, ADT signifies the LOS of a bridge based on the
                        flow of traffic (Deco et al. 2013) and, therefore, represents the
                        societal value of a bridge to the community.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Preliminary restoration cost</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;"> Preliminary restoration cost includes the initial estimate of repair/reconstruction, removal of debris, or construction of a temporary bypass after an acute shock (Deco et al.
                        2013; Andric and Lu 2017). The preliminary restoration cost
                        is associated with monetary values which are, in general,
                        based on the deterioration of the bridge’s structural condition.
                        Therefore, the preliminary restoration cost is one of the important factors in robustness assessment because it signifies the importance of a bridge by indicating that the repair losses
                        associated with repairs in the aftermath of certain catastrophes
                        are proportional to the costs of reconstructing the bridge.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Restoration time</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;"> The restoration time represents the possible time required for restoration work to return a bridge to full and normal
                        working conditions. In general, the restoration time is recognized
                        in multiple stages (Karamlou and Bocchini 2015; Karamlou and
                        Bocchini 2017; Andric and Lu 2017). This study prefers singlepath restoration due to its simplicity and practicality when computing the BRI (Minaie and Moon 2017). The estimation of
                        specific restoration time depends on the experts’ judgments, organization policies, emergency repair contracts, and historical
                        cases. Therefore, the restoration time is arguably a technical
                        factor in the evaluation of bridge resilience.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Disaster management</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Disaster management practice refers to the acute
                        shock preparedness programs, educational programs, scheduled
                        tests, and drill programs conducted by the bridge owners in the
                        preparedness for acute shocks (Minaie and Moon 2017; Andric
                        and Lu 2017). This factor represents preparedness data aggregated by the bridge’s administrator (public or private). The 10
                        criteria considered in this study are based on DMP (2018) and
                        Minaie and Moon (2017), and they are outlined as follows:
                        (1) community extreme event education programs, scheduled
                        test and drill programs; (2) designated evacuation routes; (3) designated shelters at a high point (more than high flood level) and
                        near to the bridge; (4) disaster management plans and designated
                        centers; (5) first responders equipped with the necessary tools
                        and equipment such as inflatable boats, rescues rope, life jackets,
                        life buoys, reflective tapes, and submergible search lights to
                        manage the postextreme event conditions; (6) a list of contact
                        number of emergency contractors for incident management;
                        (7) local access to equipment (such as debris removal, crane,
                        and excavator), goods, and materials for minimal restorations;
                        (8) available modes of transportation for individuals >2 (5 km radius around the bridge); (9) access to a number of emergency facilities (including emergency, hospital, fuel stations): ≥5 nos.
                        (5 km radius around the bridge); and (10) sirens blown, tape recording announcements, and newspaper advertisement to warn
                        communities of floods, cyclones, and electrical power-cuts. All
                        10 criteria have their purposes because they are linked with the
                        administrators of other infrastructures. Therefore, if the majority
                        of the criteria (listed previously) are satisfied by bridge administrator, then it will aid them with the preparedness of bridge maintenance against acute shock and ensure that the bridges in
                        question recover functionality faster.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Area or region affected</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">The area or region affected represents the area or region
                        influenced by an acute shock. Different acute shocks with different
                        intensities affected different areas or regions (Minaie and Moon
                        2017). For example, earthquakes and tsunamis typically affect
                        large areas, whereas floods and landslides affect relatively small
                        areas. Therefore, in this study, the affected area or region is classified into different categories, which are described in Table 2.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Duration for Procuring and Tendering</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">The duration for procuring and tendering refers to
                        the time taken for preparing procurement and offering tenders
                        for repair and maintenance work. This factor is dependent on organization policies and procedures. Therefore, if more time is
                        taken to prepare procurement and offer tenders, the speed of recovery of bridge services will be affected adversely.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Inspection technique</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;"> The inspection technique refers to the application of
                        different inspection techniques to assess the physical condition
                        of bridges. These techniques are either an objective or a subjective approach (Minaie and Moon 2017). The objective approach
                        includes nondestructive testing (NDT), underwater testing, and
                        analytical procedures for condition assessment and the subjective approach includes the visual inspection procedures for condition assessment of bridges. As mentioned in Table 3, when a
                        bridge owner uses more techniques such as visual inspection,
                        analytical techniques, NDT, and underwater inspection for the
                        physical condition assessment of any bridge it increases the
                        level of preciseness and reliability (level 5) in the physical condition assessment of bridges and vice versa.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Maturity in Planning and scheduling</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;"> Maturity in planning and scheduling refers to
                        the use of building information modeling (BIM) by the bridge
                        owner for the planning and scheduling of repair/reconstruction
                        work. McGuire et al. (2016) developed a method for tracking
                        and assessing the health condition of bridges using BIM. This
                        method expedites the inspection and evaluation processes of a
                        bridge’s condition during its life cycle. In the future, it might result in more automated practice even though the use of BIM is
                        not a regular practice in bridge engineering and management
                        currently. However, Barlish and Sullivan (2012) have already
                        presented the BIM maturity level and described the benefit of
                        BIM utilization in any construction project. Table 4 gives four
                        BIM maturity levels. Consideration of this organizational factor
                        might encourage bridge owners to maximize applications of
                        BIM in their bridge projects.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Emergency response management</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">The emergency response management (ERM) level refers to the resources used for the effective, efficient, and standardized operation of a transportation network (Freckleton
                        et al. 2012). It provides the real time mobilization of traffic
                        and demand of the bridge during and after an acute shock.
                        Freckleton et al. (2012) and Minaie and Moon (2017) presented
                        five levels of ERM as outlined in Table 5. Table 5 explains that
                        the intelligent transportation and advanced traveler information
                        systems (level 5) ensure more effective, efficient, and standardized operation of transportation networks during and after acute
                        shock. The level 1 technique might have more difficulty in managing the traffic than the level 5 technique. Unlike traffic police
                        (level 1), modern traveler information systems (levels 4 and 5)
                        direct drivers in advance to less congested alternative routes,
                        therefore, relieving congestion in that part of the traffic network.
                        Hence, ERM is considered as a part of resourcefulness because
                        its activities, methods, procedures, and tools can help to manage
                        the traffic during and after the disaster</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Arrangement funds</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Arrangements of funds refers to the adjustment of
                        the financial budget for repair/reconstruction work. The adjustment is required only if there is a strain in the available budget.
                        Therefore, the factor is important for resilience planning because
                        it will reduce the strain on the budget available and maximize the
                        option for the bridge owner to respond to the consequences of
                        acute shocks.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Availability of materials and equipments</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;"> Accessible material and equipment refer to the availability of materials and equipment within the local transportation network. Their availability should be easy and quick
                        from the local area. For example, materials such as steel or precast girders, piles, and bearings should be easily accessible
                        within the local area surrounding a particular bridge.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Availability of backup contractor</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Availability of a backup contractor refers to the
                        availability of disaster response contractors within the local
                        area. The bridge owner should have a list of the registered, experienced, and competent contractors who can execute repair
                        and rehabilitation work after an acute shock or loss of functionality. This factor increases redundancy by ensuring that there are
                        several backup contractors during emergencies.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Detour length</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Detour length refers to the diversion route around an affected bridge to the ADT or community of a specified area
                        (Minaie and Moon 2017). It is essential to consider this factor
                        in the determination of bridge resilience because it represents indirect losses incurred when a bridge is dysfunctional or fails
                        (Andric and Lu 2017).</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #c6ff00;font-size:25px;">Availability of fund</h5>
                    <p class="card-text" style="height: 250px; overflow-y: scroll;text-align: center;text-align: justify;">Availability of funds refers to the financial budget
                        that is available to the bridge owner for the repair and reconstruction work of a bridge. Deficiencies in the available budget
                        affect the redundancy measure because they limit the options for
                        repair and reconstruction works. Hence, if there is a strain on the
                        availability of the budget, it will affect the recovery of a bridge.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2019-2020 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>